body,h1,h2,h3,h4,h5,h6,p,dl,dd{
	margin:0;
	font-weight:normal;
	font-size:12px;
	font-family:"宋体",Arial;
	line-height:1;
}
form{
	margin:0;
}
input,fieldset,textarea,select{
	margin:0;
	padding:0;
	border:none;
	background:none;
	vertical-align:top;
	outline:none;
}
table{
	border-collapse:collapse;
}
th,td{
	padding:0;
}
a{
	text-decoration:none;
	color:inherit;
}
img{
	vertical-align:top;
	border:none;
}
mark{
	background: none;
}
b,strong{
	font-weight:normal;
}
i,em{
	font-style:normal;
}
ol,ul{
	margin:0;
	padding:0;
	list-style:none;
}
