a,
input,
button {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/*去掉点击时出现的黑色阴影*/
}
input,
button {
	-webkit-appearance: none;
	border-radius: 0;
	/*去掉默认的按钮圆角*/
}
body {
	-webkit-user-select:none;
	/*用户在选中文字时会出现的默认样式*/
	-webkit-text-size-adjust: 100%;
	/*
		禁止用户改变我们的字体大小,
		保证文字在横竖切换时，大小不被缩放
	*/
}
body * {
	-webkit-user-select:none;
	font-family:  Helvetica;
	box-sizing: border-box;
}
body,h1,h2,h3,h4,h5,h6,p,dl,dd,dt{
	margin:0;
	font-weight:normal;
	font-family:"微软雅黑";
	line-height:1;
}
a{
	text-decoration:none;
	color:inherit;	
}
ul,ol{
	list-style:none;
	margin:0;
	padding:0;	
}
b,strong{
	font-weight:normal;	
}
i,em{
	font-style:normal;	
}
mark{
	background:none;
	color:inherit;	
}
img{
	vertical-align:top;
	border:0;	
}
input,fieldset,textarea ,form{
	padding:0;
	margin:0;
	border:0;
	background:none;
	vertical-align:top;
	resize:none;	
}
body *{
	box-sizing: border-box;
}

